<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>smiley_0.png</key>
	<string>:/smiley_0)</string>
	<key>smiley_1.png</key>
	<string>:/smiley_1)</string>
	<key>smiley_2.png</key>
	<string>:/smiley_2)</string>
	<key>smiley_3.png</key>
	<string>:/smiley_3)</string>
	<key>smiley_4.png</key>
	<string>:/smiley_4)</string>
	<key>smiley_5.png</key>
	<string>:/smiley_5)</string>
	<key>smiley_6.png</key>
	<string>:/smiley_6)</string>
	<key>smiley_7.png</key>
	<string>:/smiley_7)</string>
	<key>smiley_8.png</key>
	<string>:/smiley_8)</string>
	<key>smiley_9.png</key>
	<string>:/smiley_9)</string>
	<key>smiley_10.png</key>
	<string>:/smiley_10)</string>
	<key>smiley_11.png</key>
	<string>:/smiley_11)</string>
	<key>smiley_12.png</key>
	<string>:/smiley_12)</string>
	<key>smiley_13.png</key>
	<string>:/smiley_13)</string>
	<key>smiley_14.png</key>
	<string>:/smiley_14)</string>
	<key>smiley_15.png</key>
	<string>:/smiley_15)</string>
	<key>smiley_16.png</key>
	<string>:/smiley_16)</string>
	<key>smiley_17.png</key>
	<string>:/smiley_17)</string>
</dict>
</plist>
