<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>:/smiley_0)</key>
	<string>smiley_0.png</string>
	<key>:/smiley_1)</key>
	<string>smiley_1.png</string>
	<key>:/smiley_2)</key>
	<string>smiley_2.png</string>
	<key>:/smiley_3)</key>
	<string>smiley_3.png</string>
	<key>:/smiley_4)</key>
	<string>smiley_4.png</string>
	<key>:/smiley_5)</key>
	<string>smiley_5.png</string>
	<key>:/smiley_6)</key>
	<string>smiley_6.png</string>
	<key>:/smiley_7)</key>
	<string>smiley_7.png</string>
	<key>:/smiley_8)</key>
	<string>smiley_8.png</string>
	<key>:/smiley_9)</key>
	<string>smiley_9.png</string>
	<key>:/smiley_10)</key>
	<string>smiley_10.png</string>
	<key>:/smiley_11)</key>
	<string>smiley_11.png</string>
	<key>:/smiley_12)</key>
	<string>smiley_12.png</string>
	<key>:/smiley_13)</key>
	<string>smiley_13.png</string>
	<key>:/smiley_14)</key>
	<string>smiley_14.png</string>
	<key>:/smiley_15)</key>
	<string>smiley_15.png</string>
	<key>:/smiley_16)</key>
	<string>smiley_16.png</string>
	<key>:/smiley_17)</key>
	<string>smiley_17.png</string>
	<key>:/smiley_18)</key>
	<string>smiley_18.png</string>
</dict>
</plist>
